<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Home</title>
  </head>
  <body style="background-color: rgb(14, 38, 62); color: white">
    <%- include('./partials/nav') %>
    <div class="container mt-4">
      <% if (locals.blogs.length) { %>
      <div class="row">
        <% blogs.forEach(blog => { %>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 mb-3">
          <div class="card" style="width: 18rem">
            <a href="/blog/<%= blog._id %>">
              <img
                src="<%= blog.coverImageUrl %>"
                class="card-img-top"
                alt="Cover Image"
                height="150px"
              />
            </a>
            <div class="card-body">
              <h5 class="card-title"><%= blog.title %></h5>
              <a href="/blog/<%= blog._id %>" class="btn btn-primary"
                >Read Blog</a
              >
            </div>
          </div>
        </div>
        <% }) %>
      </div>
      <% } else {%>
      <h1>No Blogs Available!</h1>
      <% }%>
    </div>
    <%- include('./partials/scripts') %>
  </body>
</html>
